---
title: Content page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({active: 2}) }}
	<div class="inner" data-tabs data-scroll-trigger="50" data-duration-anim=".7" data-delay-anim="0.3" data-anim-group>
		<!-- begin tabs -->
		<div class="abouttabs">
			<div class="abouttabs__row row" data-anim="from-bottom">
				<div class="abouttabs__left col col-3 col-sm-12">
					<div class="abouttabs__inner">
						<ul class="abouttabs__list">
							<li class="abouttabs__item is-active" data-tabs-control="who"><span>WHO WE ARE?</span></li>
							<li class="abouttabs__item" data-tabs-control="what"><span>WHAT WE DO?</span></li>
						</ul>
					</div>
				</div>
				<div class="abouttabs__wrap col col-9 col-sm-12">
					<div data-tabs-wrapper>
						<div class="abouttabs__container is-open" data-tabs-container="who">
							<!-- begin head -->
							<div class="head text-center" data-anim="from-bottom">
								<h2 class="head__title title color-red">CONTENT PAGE</h2>
								<h3 class="head__title-lg title-lg">Who We Are</h3>
							</div>
							<!-- end head -->
							<h3 class="title-md">WhitePark Capital is a hedge fund focused on digital assets and startups in the blockchain space. We believe that Blockchain is becoming a fundamental breakthrough in IT - similar to how personal computers, Internet, mobile phones and social media disrupted existing systems, created new markets and business models.</h3>
							<p>Following the accelerated rise of altcoins, crypto markets are filled with considerable inefficiencies, and WhitePark Capital aims to separate the value from the noise. We methodically analyze blockchain assets in order to identify those with intrinsic value that has not yet been fully recognized by the market. Our investment universe consists of liquid blockchain assets that are traded on the market as well as early-stage vehicles like ICOs and blockchain venture capital projects.</p>
							<p>Our team that has been active in the cryptocurrency industry since 2013, and has years of experience in fintech, financial markets,  data analysis, software development, and business management.</p>
							<p>The team at White Park Capital is driven by three critical forces: <strong>entrepreneurship</strong>, <strong>technology</strong>, and <strong>uantitative analysis</strong>q. Members of our team were pioneers in the early days of the initial coin offering. This entrepreneurial spirit is enhanced by a firm grounding in technical knowledge, delivered by our talented team of programmers. The final piece of the puzzle is the data-driven approach that our quantitative analysis brings to the table. Our team’s experiences at blue-chip financial firms enable us to construct the unique, proprietary models that underpin our investment strategy.</p>
						</div>
						<div class="abouttabs__container" data-tabs-container="what">
							<!-- begin head -->
							<div class="head text-center" data-anim="from-bottom">
								<h2 class="head__title title color-red">CONTENT PAGE</h2>
								<h3 class="head__title-lg title-lg">WHAT WE DO?</h3>
							</div>
							<!-- end head -->
							<h3 class="title-md">At WhitePark Capital, we invest in decentralized blockchain protocols that have a token native to the protocol, that increase in value as demand for the protocol and the applications built on the protocol increases.</h3>
							<p>We are genuinely interested in building relationships with teams, so we are particularly interested in investing in companies where we can be a partner to the core development team and be assets in their community. Particularly, we are looking to add value in seven key areas:</p>
							<ul class="list">
								{% for text in ['Legal & Regulatory','Smart contract security audits and code reviews','Community management and PR','Crypto economic design and token distribution mechanisms','Recruiting and executive coaching ','Cash management and OTC','Business development (connecting with other projects and exchanges)'] %}
								<li>{{ text }}</li>
								{% endfor %}
							</ul>
							<p>We are committed to supporting our portfolio networks in their early days by providing marketplace liquidity, governance, and other services where a crypto-native investor can add value; this requires the confluence of capital, technical ability, and understanding of how these networks function. We take this approach for three primary reasons;</p>
							<ul class="list">
								<li>It allows our investment thesis to evolve as we work very closely with, and receive information from, professionals within certain sectors of the market;</li>
								<li>It will enable us to build our reputation in the blockchain and cryptocurrency industry as value-add investors, and;</li>
								<li>It gives us insight into how we can expand or consolidate individual positions over time;</li>
							</ul>
							<p>When considering an investment, we analyze the projects team, economic structure, market, product, technology, and more, and if we do decide to invest, we are constantly re-evaluating these metrics as the company makes progress.</p>
							<p><a href="#" class="link">Suite of Index Funds </a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end tabs -->
	</div>
	<!-- begin about -->
	<div class="about" data-scroll-trigger="50" data-duration-anim=".7" data-delay-anim="0.3" data-anim-group>
		<div class="about__bg" style="background-image: url(./img/mountain.svg);" data-anim="from-bottom"></div>
		<div class="about__inner inner">
			<div data-anim="from-bottom">
				<h2 class="about__title title color-red">ABOUT FUND</h2>
				<p>WhitePark Capital is a hedge fund focused on digital assets and startups in the blockchain space. We believe that Blockchain is becoming a fundamental breakthrough in IT - similar to how personal computers, Internet, mobile phones and social media disrupted existing systems, created new markets and business models.</p>
				<p>WhitePark offers Index funds and long term value creation fund.</p>
				<div class="about__footer"><a href="./white_park_thesis.pdf" class="btn" target="_blank">Read our Thesis</a></div>
			</div>
		</div>
	</div>
	<!-- end about -->
	{% include "./partials/_footer.html" %}
{% endblock %}