---
title: Content page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({active: 2}) }}
	<!-- begin about -->
	<div class="about" style="background-image: url(./img/mountain.svg);">
		<div class="about__inner inner" data-scroll-trigger="50" data-duration-anim=".7" data-delay-anim="0.3" data-anim-group>
			<div data-anim="from-bottom">
				<h2 class="about__title title color-red">ABOUT FUND</h2>
				<p>WhitePark Capital is a hedge fund focused on digital assets and startups in the blockchain space. We believe that Blockchain is becoming a fundamental breakthrough in IT - similar to how personal computers, Internet, mobile phones and social media disrupted existing systems, created new markets and business models.</p>
				<div class="about__footer"><a href="#" class="btn">Read our Thesis</a></div>
			</div>
		</div>
	</div>
	<!-- end about -->>
	{% include "./partials/_footer.html" %}
{% endblock %}