---
title: Contacts page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{{ header.block({active: 4}) }}
	<!-- begin contacts -->
	<div class="contacts" data-tabs data-scroll-trigger="50" data-duration-anim=".7" data-delay-anim="0.3" data-anim-group>
		<div class="contacts__head" data-anim="from-bottom">
			<div class="contacts__inner inner">
				<h2 class="contacts__title title color-red text-center">CONTACTS</h2>
				<h3 class="contacts__title-lg title-lg text-center">Fill out our form below or send</h3>
			</div>
		</div>
		<div class="contacts__map" data-anim="from-bottom" style="background-image: url(./img/contacts-background.svg);">
			<div class="contacts__inner inner">
				<div class="map js-map" data-center-lat="50.45466" data-center-lng="30.5238"></div>
			</div>
		</div>
		<div class="contacts__inner inner" data-anim="from-bottom">
			<div class="contacts__row row">
				<div class="contacts__col col col-6 col-md-12">
					<h3 class="contacts__title-md title-mid">Fill out our form below or send us an email.</h3>
					<h4 class="contacts__title title color-red">ADDRESS</h4>
					<p>1177 Avenue of the Americas, New York 10036</p>
					<h4 class="contacts__title title color-red">GET IN TOUCH</h4>
					<p>+1(646)596-5856</p>
					<p>contact@whiteparkc.capital</p>
				</div>
				<div class="contacts__col col col-6 col-md-12">
					<form class="form js-form">
						<div class="form-control">
							<input type="text" placeholder="Your name" data-validation="required"
                    data-validation-error-msg="This field is required" id="name">
						</div>
						<div class="form-control">
							<input type="text" placeholder="Email address" data-validation="email" data-validation-error-msg="Please fill in right email address" id="email">
						</div>
						<div class="form-control">
							<textarea placeholder="Type message…" id="message"></textarea>
						</div>
						<div class="form__confirm">
							{{ mixins.checkbox({ text: 'I confirm Privacy policy and Terms of Use', required: true  }) }}
						</div>
						<div class="form__footer">
							<button class="btn btn_black" type="submit">Submit{{ mixins.icon('right-arrow') }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end contacts -->
	{% include "./partials/_footer.html" %}
{% endblock %}