.about
	position: relative
	padding: 203px 0 120px
	+hss
	+f(28px,400,1.928)
	text-align: center
	+md
		padding: 190px 0 100px
		font-size: 22px
	+sm
		padding: 86px 0 66px
		+f(18px,400,2.23)
		letter-spacing: -0.004em
	&__bg
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-repeat: no-repeat
		background-position: center 116px
	&__inner
		max-width: 1145px
	&__title
		margin-bottom: 35px
		+sm
			margin-bottom: 18px
	&__footer
		margin-top: 40px
		+sm
			margin-top: 23px