.icon-arrow-down {
  width: 1.5em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-medium {
  width: 1.29em;
  height: 1em;
  fill: currentColor;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1.27em;
  height: 1em;
  fill: currentColor;
}
